{% include "parts/header.twig" %}

<main class="page page--404">

  {% include "sections/test.twig" with {
    title: "404",
    content: "Not found"
  } %}

</main>

{% include "parts/footer.twig" %}
