// Grid
$min-width: 320px;
$max-width: 1248px;
$gap: 24px;
$columns: 12;
$breakpoints: small false 767 small, medium 768 1023 medium, large 1024 false large;
$column-name: "column";
$offset-name: "offset";

// Spaces
$space-between-desktop: 168px;
$space-between-mobile: 128px;
$padding-mobile: 12px;
$padding-desktop: 24px;

// Typo
$base-font-size: 16px;
$base-line-height: rem-calc(19px);
$body-font-family: "Helvetica", "Arial", sans-serif;
$header-font-family: $body-font-family;

// Primary colors
$black: #000;
$white: #fff;
